::-moz-selection 
    background: #E4EDF1
    color: #fff
    text-shadow: none

::selection
    background: #E4EDF1
    color: #fff
    text-shadow: none

a
    cursor: pointer
    &:hover
        text-decoration: underline

div
    -webkit-tap-highlight-color: rgba(0,0,0,0)

textarea
    resize: none

.alert
    clear: both
.clear
    clear: both
.hidden
    display: none
.invisible
    visibility: hidden
.bold
    font-weight: bold
.left
    float: left
.right
    float: right
.absolute
    position: absolute
.relative
    position: relative
.center-text
    text-align: center
.inline
    display: inline
.without-top-margin
    margin-top: 0
.with-default-cursor
    cursor: default

    &:active
        cursor: default
