@import nib

page-width()
    max-width: 420px
    margin-left: auto
    margin-right: auto
    padding-left: 10px
    padding-right: 10px

html
    width: 100%
    height: 450px

.main-page
    page-width()
    margin-top: 55px

.navbar

    .container
        page-width()

        .dropdown-menu
            min-width: 80px

.footer
    page-width()
    text-align: center
    padding: 15px 0

.btn:visited
    color: #000

.list
    .list-item
        margin-bottom: 10px

        .btn
            width: 100%
            padding: 5px 0

        .percentage-bar
            border-radius 4px
            border: 1px solid #AAA
            width: 100%
            height: 30px
            background-color: #DDD

            .percentage-complete
                border-radius 4px
                width: 0
                max-width: 100%
                height: 30px

                transition: width 0.4s

                &.starches
                    background: linear-gradient(top, darken(#963, 15%), lighten(#964, 30%))
                &.legumes
                    background: linear-gradient(top, #330, lighten(#330, 20%))
                &.veggies
                    background: linear-gradient(top, darken(#2E873B, 15%), lighten(#2E873B, 30%))
                &.fruits
                    background: linear-gradient(top, darken(#C69, 15%), lighten(#C69, 40%))
                &.proteins
                    background: linear-gradient(top, #633, lighten(#633, 30%))
                &.fats
                    background: linear-gradient(top, darken(#C66, 15%), lighten(#C66, 30%))
                &.shake
                    background: linear-gradient(top, darken(#39F, 15%), lighten(#39F, 30%))

                .percentage-text
                    left: 5px
                    line-height: 30px
                    color: #FFF
                    display: inline
                    width: 200px

                    &.exceeding
                        color: #C00

.stats
    margin-bottom: 50px

.macro-replacement
    margin-bottom: 10px

.portion-controls
    margin-top: 20px
    margin-bottom: 50px

    label
        font-style: italic

    .controls
        margin-top: 20px

.help
    margin-bottom: 20px
