@import nib

// Theme overrides
html.dark
    min-height: 100%
    background: url('/static/images/mesh.jpg') repeat fixed
    background-color: #333

    body
        background: transparent

        header, .empty-msg, p
            a, a:visited
                color: #7C7CAC
            a:hover
                color: #FF7E20

        h4, h5, span, label, p, .help ul li, .footer
            color: #AAA

        .percentage-text 
            span
                color: #FFF

            &.exceeding span
                color: #C00

        .macros
            .percentage-bar
                background-color: #999
                border-color: #333
