<header>
    <h4>About</h4>
</header>

<div class="about">
    <h5>Who is Bash?</h5>
    <p>Bash is a developer who is obsessed with health and fitness. He lives in Boston and writes software for a startup called <a href="http://www.hubspot.com/" target="_blank">HubSpot</a>.</p>
    <p>When he's not lifting or getting his nutrition needs, he's tinkering with gadgets and hopefully developing the next big thing.</p>
</div>

<div class="about">
    <h5>Credits</h5>
    <p><b>All</b> credit regarding the macronutrient levels and nutrition data found in this app belongs to <a href="http://www.beachbody.com/" target="_blank">Beachbody</a> from their new at-home workout program <a href="http://www.beachbody.com/product/fitness_programs/body-beast-workout.do" target="_blank">Body Beast</a>. If you dig the information in here, go support them and buy the program - they're a great company with a great mission.</p>
</div>

<div class="about">
    <h5>Contributing</h5>
    <p>If you'd like to contribute, feel free to head over to <a href="https://github.com/b-ash/nutrition" target="_blank">github</a> and take a look. Pull requests are appreciated.</p>
</div>
