<header>
    <h4>Clear App Data</h4>
</header>

<div class="about">
    <h5>Are you sure?</h5>
    <p>This will clear all of your current macros, saved meals, and configured user data. Aka: <b>this can't be undone</b>.</p>
</div>

<div>
    <a id="clear_app" class="btn btn-large btn-danger btn-block dont-route">Yes, I'm sure</a>
</div>
