<select id="dab">
    <option value="">Daily Activity Burn</option>
    <option value="0.1">Sedetary</option>
    <option value="0.2">Moderate</option>
    <option value="0.3">High</option>
</select>
<input id="de" type="number" placeholder="Daily Exercise" {{#if de}} value="{{de}}"{{/if}} />
<input id="sway" type="number" placeholder="Caloric Surplus/Deficit" {{#if sway}} value="{{sway}}"{{/if}} />