<header>
    <div class="clearfix">
        <h4 class="left without-top-margin">{{display}}</h4>
        <a href="/food" class="right">Go back</a>
    </div>
</header>

<div class="list foods">
    {{#each foods}}
        <div class="list-item food">
            <a class="btn btn-secondary btn-large btn-food dont-route">{{display}}</a>
        </div>
    {{/each}}
</div>

{{#unless foods}}
<div>No foods found</div>
{{/unless}}
