<header>
    <h4>Select a macro category</h4>
</header>

<div class="list macros">
    {{#keys this this}}
        <div class="list-item macro center-text" data-key="{{key}}">
            <a href="/food/{{key}}" class="btn btn-large btn-secondary btn-macro">{{val}}</a>
        </div>
    {{/keys}}
</div>
