<header>
    <h4>Help</h4>
</header>

<div class="help">
    <p>The point of this is to create a quick way to track the basic macronutrients outlined in the Body Beast nutrition guide.</p>
</div>

<div class="help">
    <p>Click on the bars on the main page to track your daily intake. If you're unsure of the nutrient value for a given food, use the "Food" tab to find the appropriate value.</p>
</div>

<div class="help">
    <p>If it's not in the "Food" section, it's not on the diet guide ;)</p>
</div>

<div class="help">
    <span>Free condiments</span>
    <ul>
        <li>Lemon and lime juice</li>
        <li>Black pepper</li>
        <li>Vinegar (any variety)</li>
        <li>Mustard (any variety)</li>
        <li>Herbs</li>
        <li>Spices</li>
        <li>Garlic and ginger</li>
        <li>Hot sauce</li>
        <li>Flavored extracts: vanilla, peppermint, almond, etc.</li>
    </ul>
</div>