<header>
    <h4>Help</h4>
</header>

<div class="help">
    <span>Free condiments</span>
    <ul>
        <li>Lemon and lime juice</li>
        <li>Black pepper</li>
        <li>Vinegar (any variety)</li>
        <li>Mustard (any variety)</li>
        <li>Herbs</li>
        <li>Spices</li>
        <li>Garlic and ginger</li>
        <li>Hot sauce</li>
        <li>Flavored extracts: vanilla, peppermint, almond, etc.</li>
    </ul>
</div>
