<header>
    <h4>Help</h4>
</header>

<div class="help">
    <h5>Purpose</h5>
    <p>The point of this is to create a quick way to track the basic macronutrients outlined in the Body Beast nutrition guide.</p>
    <p>Forget about hassling with printout sheets or guesstimation. Your phone is with you all day; now your accountability is, too.</p>
</div>

<div class="help">
    <h5>How</h5>
    <p>Click on the bars on the main page to increase your daily macro intake. If you're unsure of the nutrient value for a given food, use the "Food" tab to find the appropriate value.</p>
    <p>If you make a mistake, there's a minus button at the end of the bars that allows you to decrease your counts for that macro.</p>
    <p>If it's not in the "Food" section, it's not on the diet guide ;)</p>
</div>

<div class="help">
    <h5>Caloric Values</h5>
    <p>There is a listing of the caloric value for each macro on the main page and on each food listing. However, this won't be consistent across all foods within a given macro type; it's simply an estimated average caloric value.</p>
    <p>While the total calories listed probably won't add up to your total calorie bracket, it can help to understand where the majority of your calories come from, which can differ from the number of servings consumed.</p>
</div>

<div class="help">
    <h5>Thoughts</h5>
    <p>There is a ton of data in this diet guide. That being said, use your judgement. This is far from a "one size fits all" situation. Use the guide as just that:  a guide. Are you eating too much / little? Now you can figure that out. Plan out your goals and pick the plan that works best for you.</p>
</div>

<div class="help">
    <h5>Shakes</h5>
    <p>In the diet guide, there is a section for mass-gain shakes that are made by combining different macros. However, the shake in this app is mainly a placeholder for "take your supplements".</p>
    <p>The daily shake described is 2 scoops of the Beachbody fuel shot (5g whey protein, 200 cals) and 1 scoop of the Beachbody base shake (18g whey protein, 130 cals). Figure out your own personal shake requirements and get those calories in.</p>
    <p>Don't forget your post-workout shake.</p>
</div>

<div class="help">
    <h5>Free condiments</h5>
    <ul>
        <li>Lemon and lime juice</li>
        <li>Black pepper</li>
        <li>Vinegar (any variety)</li>
        <li>Mustard (any variety)</li>
        <li>Herbs</li>
        <li>Spices</li>
        <li>Garlic and ginger</li>
        <li>Hot sauce</li>
        <li>Flavored extracts: vanilla, peppermint, almond, etc.</li>
    </ul>
</div>
