<header>
    <h4>Current Macros</h4>
</header>

<div class="list macros"></div>
<div class="total">
    <span>Approx. total calories: </span>
    <span id="text_total_cals">{{getTotalCals macros}}</span>
</div>
