<header>
    <h4>Stats</h4>
</header>

<div class="stats">
    {{#each stats}}
    <div class="stat">
        <span class="name">{{display}}:</span>
        <span class="val right">{{val}}</span>
    </div>
    {{/each}}
</div>
