<header>
    <h4>Stats</h4>
</header>

<div class="list stats">
    {{#each stats}}
    <div class="list-item stat">
        <span class="name italic">{{display}}:</span>
        <span class="val right">{{val}}</span>
    </div>
    {{/each}}
</div>
